@model OnlineTutorProject.Models.Student_Model

@{
    ViewBag.Title = "Student SignUp";
}
<h2 style="text-align: center; color: black; font-family: Georgia;font-weight:bold ">Student SignUp</h2>


@using (Html.BeginForm())
{

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <center>
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.std_id)
                    <br />
                    @Html.TextBoxFor(model => model.std_id, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.std_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.f_name)
                    <br />
                    @Html.TextBoxFor(model => model.f_name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.f_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.l_name)
                    <br />
                    @Html.TextBoxFor(model => model.l_name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.l_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.gender)
                    <br />
                    @Html.TextBoxFor(model => model.gender, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.phone_no)
                    <br />
                    @Html.TextBoxFor(model => model.phone_no, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.phone_no, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.class_level)
                    <br />
                    @Html.TextBoxFor(model => model.class_level, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.class_level, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.password)<br />

                    @Html.PasswordFor(model => model.password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    <input type="submit" value="Create" class="btn button-31" style="width:275px" />
                </div>
            </div>
            <div>
                @Html.ActionLink("Back to List", "StudentSignIn")
            </div>

        </center>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
